.container{
    text-align: center;
}

/* inizio header */
header {
    background-color: cornflowerblue;
    height: 170px;
    background-image: url(../img/pattern.png);
    
}

.immagine{
    height: 250px;
    width: 250px;
}

.colore-ciano{
    color: cyan;
}

/* fine header */

/* inizio copro pagina */

.evidenziare{
    background-color: yellow;
}

/* colore tabella */
thead{
    background-color: #3f87a6;
    color: #fff;
}

tbody, tfoot {
    background-color: #e4f0f5;
}

/* interessi finali */
#grigio{
    color: lightslategrey;

}