/* inizio header */
header {
    background-color: cornflowerblue;
    height: 170px;
    background-image: url(../img/pattern.png);
    
}

.immagine{
    height: 250px;
    width: 250px;
}

/* fine header */

/* inizio copro pagina */

.colore-ciano{
    color: cyan;
}